{#{% form_theme form 'form/bootstrap_4_layout.html.twig' %}#}
{{ form_start(form) }}
<div class="row">
    <div class="col-md-12">
        {{ form_row(form.title, {'attr': {'class': 'form-control'} }) }}
    </div>
    <div class="col-md-12 mt-4">
        {{ form_row(form.description, {'attr': {'class': 'form-control'} }) }}
    </div>
    <div class="col-md-12 mt-4">
        {{ form_row(form.program, {'attr': {'class': 'form-control'} }) }}
    </div>
</div>
{{ form_widget(form) }}
<div class="col-md-12 mt-2 p-0">
    <button type="submit" class="btn btn-sm btn-primary">{{ button_label|default('Submit') }}</button>
</div>
{{ form_end(form) }}
