{% extends 'admin_base.html.twig' %}

{% block title %}Hello dssd!{% endblock %}

{% block body %}
    <div id="wrapper">
        {% include 'admin/common/sidebar.html.twig' %}
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                {% include 'admin/common/header.html.twig' %}
                <div class="container-fluid">
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Pages</h1>
                        <a href="{{ url("add_pages") }}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">Add New Page</a>
                    </div>
                    <div class="flush-alert">
                        {% include 'admin/common/flash.html.twig' %}
                    </div>
                    <div class="card">
                        <div class="card-body p-0">
                            <table class="table table-hover w-100">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Title</th>
                                    <th>Description</th>
                                    <th>Inserted At</th>
                                    <th>Updated At</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for page in  pages %}
                                    <tr>
                                        <td>{{ page.id }}</td>
                                        <td>{{ page.title }}</td>
                                        <td>{{ page.description }}</td>
                                        <td>{{ page.addedAt|date("m/d/Y") }}</td>
                                        <td>{{ page.updatedAt|date("m/d/Y") }}</td>
                                        <td><a href="{{ url('page_edit', {'id': page.id}) }}"><button class="d-sm-inline-block btn btn-sm btn-primary">Edit</button></a> <a href="{{ url('page_delete', {'id': page.id}) }}" class="delete-page"><button class="d-sm-inline-block btn btn-sm btn-danger delete-btn">Delete</button></a></td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            {% include 'admin/common/footer.html.twig' %}
        </div>
    </div>
    <script>
        $(document).ready(function(){
            $('.delete-page').click(function () {
                if (!confirm('Are you sure you want to delete this page?')) {
                    return false;
                }
            })
        });
    </script>
{% endblock %}
